button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}

input {
  background-color: transparent;
  outline: none;
  border: #fff 1px solid;
  color: #fff;
  border-radius: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#3ea2e5), to(#8bc5e3));
  background: linear-gradient(#3ea2e5, #8bc5e3);
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 10vmin;
}

form[weather-using-city-name] {
  height: 2.5rem;
  width: 55%;
  max-width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form[weather-using-city-name] input {
  padding: 0.7rem 2rem;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form[weather-using-city-name] button {
  margin-left: 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form[weather-using-city-name] button img {
  width: 80%;
  height: auto;
}

#conditions {
  width: 100%;
  position: relative;
  bottom: 1rem;
}

#conditions p {
  text-align: right;
  font-size: 0.85rem;
  margin: 0 1rem 0;
}

#weather-information {
  margin-bottom: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather-information h2 {
  font-size: 1.3rem;
  max-width: 20rem;
  text-align: center;
}

#weather-information div[weather-patterns] {
  padding: 1rem;
}

#weather-information ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weather-information ul li {
  padding: 0 1rem;
  border-right: 1px rgba(255, 255, 255, 0.315) solid;
}

#weather-information ul li:last-child {
  border: none;
}

#weather-information ul li section:nth-child(1) {
  font-size: 1.1rem;
}

#weather-information ul li section:nth-child(2) {
  font-size: 0.7rem;
}
/*# sourceMappingURL=home.css.map */